<div class="container">
    <form #insertForm="ngForm"  class="form-group">
        <!-- <label >Id</label>
        <input type="number" #id name="id"  class="form-control"/><br/>
        <label >Nombre</label>
        <input type="text" #nombre name="nombre"   class="form-control"/><br/>
        <label >Localidad</label>
        <input type="text" #localidad name="localidad"   class="form-control"/><br/> -->
        
        <select  *ngFor="let personaje of personajes">
            <option value="{{personaje.idPersonaje}}">{{personaje.nombre}}</option>
        </select>
        <!-- <select  *ngFor="let personaje of personajes">
            <option value="{{personaje.idPersonaje}}">{{personaje.nombre}}</option>
        </select> -->

        <button (click) = "createPersonaje()" class="btn btn-success">Insertar</button><br/>
    </form>
</div>
