<div class="container">
    <form #insertForm="ngForm" class="form-group">
        <label class="form-label">Nombre</label>
        <input type="text" #nombre name="nombre" class="form-control" /><br />

        <label class="form-label">Imagen</label>
        <input type="text" #imagen name="imagen" class="form-control" /><br />
        <br>
        <select class="form-select" #selectserie name="selectserie">
            <option *ngFor="let serie of series" value="{{serie.idSerie}}">{{serie.nombre}}</option>
        </select>
        <br>
        
        <button (click)="createPersonaje()" class="btn btn-success">Insertar</button><br />
    </form>
</div>